body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	background-image: url('images/trilliumgradient.png');
}
h1 {
	background-color: #D5ECB3;
	height: 86px;
}
h2 {
	background-color: #D5ECB3;
	background-image: url('images/trilliumbg.gif');
	background-repeat: no-repeat;
	padding-left: 30px;
}
ul {
	list-style-image: url('images/trillium.gif');
}
footer {
	background-image: url('images/trilliumfoot.gif');
	background-repeat: no-repeat;
	background-position: right top;
	height: 80px;
	background-color: #5C743D;
	padding: 5px 5px 0px 5px;
}
h6 {
	color: #E7F7D0;
}
a {
	text-decoration: none;
	color: #E7F7D0;
}
a:hover {
	text-decoration: underline overline;
	background-color: #E7F7D0;
	color: #5C743D;
}
.companyName {
	font-weight: bold;
	font-style: italic;
}
#content {
	width: 975px;
	margin-right: auto;
	margin-left: auto;
}
